<section class="section-padding" id="cv">
    <h1>Experience</h1>
    <div class="cvContent" *ngFor="let val of cvArr; let i = index">
        <!-- For Even Index -->
        <ng-container *ngIf="i % 2 === 0">
            <div class="lifeline-dot" data-aos="fade-up" data-aos-duration="1500"></div>
            <br>
            <div class="content" data-aos="fade-left" data-aos-duration="1500" data-aos-anchor-placement="">
                <a href=""><h3>{{val.title}}</h3></a>
                <p>{{val.date}}</p>
                <p>{{val.stack}}</p>
                <br>
            </div>
        </ng-container>
        <!-- For Odd Index -->
        <ng-container *ngIf="i % 2 !== 0">
            <div class="lifeline-dot" data-aos="fade-up" data-aos-duration="1500"></div>
            <br>
            <div class="content" data-aos="fade-right" data-aos-duration="1500" data-aos-anchor-placement="">
                <a href=""><h3>{{val.title}}</h3></a>
                <p>{{val.date}}</p>
                <p>{{val.stack}}</p>
                <br>
            </div>
        </ng-container>
    </div>
    <div class="lifeline-dot" data-aos="fade-up" data-aos-duration="1500"></div>
    <div class="endline" data-aos="fade-up" data-aos-duration="1500">and the adventure goes on</div>
</section>