@import '../../assets/variables';

#cv {
    background-color: $green-medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 18px;
        text-transform: uppercase;
        color: white;
        letter-spacing: 1px;
        padding-bottom: 30px;
        font-weight: bold;
    }
    .lifeline-dot {
        height: 100px;
        width: 2px;
        border-left: 4px dotted white;
    }
    .content[data-aos="fade-right"] {
        margin-right: 30%;
    }
    .content[data-aos="fade-left"] {
        margin-left: 30%;
    }
    
    .content{
        padding: 25px;
        max-width: 40%;   
        background-color: white;
        border-radius: 20px;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.226);

        h3 {
            font-size: 12px;
            text-transform: uppercase;
            color: $grey-dark;
            letter-spacing: 1px;
            padding-bottom: 7px;
            font-weight: bold;
        }
    }

}