<section class="section-padding" id="cv">
    <h1>Experience</h1>
    <div class="lifeline-dot" data-aos="fade-up" data-aos-duration="1500"></div>
    <br>
    <div class="content" data-aos="fade-right" data-aos-duration="1500" data-aos-anchor-placement="">
        <h3>Full-Stack Web-Developer Training, CodeFactory Vienna</h3>
        <p>09/2023 - 12/2023</p>
        <p>Front-End Web Development: Version Control (Git -GitHub),
            HTML5, CSS3, JavaScript, Bootstrap, Project Documentation, TypeScript, Angular. <br>
            Back-End Web Development: SQL (MySQL), SCRUM & Requirements Engineering, PHP, AJAX, Symfony PHP Framework,
            Project Documentation, Software Testing</p>
    </div>
    <br>
    <div class="lifeline-dot" data-aos="fade-up" data-aos-duration="1500"></div>
    <br>
    <div class="content" data-aos="fade-left" data-aos-duration="1500" data-aos-anchor-placement="">
        <h3>Java Software-Developer Training, Wifi Wien</h3>
        <p>09/2022 - 03/2023</p>
        <p>Programming with Java: Structured programming, Syntax of Java, Control structures, standard input/output –
            types and variables, expressions, Basics of object-oriented programming, using the programming environment.
            Syntax of Java, Control structures, Lambda Expressions, Classes, inheritance and class hierarchies,
            Interfaces, Exceptions, Generics, Java API standard classes, Streams and File IO, Connection of databases,
            Multithreading, JavaFX, Network programming, Java Collection Framework, Java Stream API, Application
            examples, design of larger stand-alone Java applications. <br>
            Software Engineering: Software project management, Process models, Scheduling, quality assurance, System
            management and deployment, maintenance, Case Tools, Version control, documentation, calculation,
            Introduction to relational database design(entity-relationship model), Introduction to UML. <br>
            10 weeks final project
        </p>
    </div>
    <br>
    <div class="lifeline-dot" data-aos="fade-up" data-aos-duration="1500"></div>
    <br>
    <div class="content" data-aos="fade-right" data-aos-duration="1500" data-aos-anchor-placement="">
        <h3>Self-employed software developer</h3>
        <p>since 2022</p>
        <p>Planning, development and implementation of desktop applications with a relational database, Collaboration on
            several small projects</p>
        <p>Technologies: Java, JavaFX, ApacheDerby, Eclipse</p>
    </div>
    <br>
    <div class="lifeline-dot" data-aos="fade-up" data-aos-duration="1500"></div>

</section>