<section>
    <div class="references">
        <a class="nav-link" href="#about">About</a>
        <div>|</div>
        <a href="#projects">Projects</a>
        <div>|</div>
        <a href="mailto:sahra.stursa@live.at">Email</a>
    </div>
    <div class="social-tags">
        <a href="https://www.linkedin.com/in/sahra-joy-stursa-75a986261/"><i style="font-size:24px" class="fa">&#xf08c;</i></a>
        <a href="https://github.com/sahrajoy"><i class="fa">&#xf09b;</i></a>
    </div>
    <div class="copyright">&copy; Sahra Stursa 2023</div>
</section>

