<section class="text-center section-padding" id="about">
  <div class="container" data-aos="fade-right" data-aos-duration="1500">
    <div class="row"></div>
    <div class="col-md-8 offset-md-2">
      <h1 class="h1-arrow">About</h1>
      <p>As a junior full-stack web developer, I've immersed myself in a variety of technologies including Java,
        JavaScript, TypeScript, PHP, and Angular. While I am in the early stages of my career, my hands-on
        experience with frameworks like Bootstrap and tools such as JavaFX and SQL has equipped me with a foundation
        to build efficient and user-centric applications. Eager to learn and continuously evolve, I am committed to
        leveraging my skills to contribute to dynamic development teams.</p>
    </div>
  </div>
</section>