<div #nav id="nav" [class.visible]="navVisible">
    <div class="col-xs-10 offset-xs-1 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#about"><span>About</span><span>></span></a>
                <hr>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#cv"><span>CV</span><span>></span></a>
                <hr>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#skills"><span>Skills</span><span>></span></a>
                <hr>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#projects"><span>Projects</span><span>></span></a>
                <hr>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact"><span>Get in Touch</span><span>></span></a>
            </li>
        </ul>
    </div>
</div>
<div class="col-xs-10 offset-xs-1 col-sm-10 offset-sm-1 col-md-8 offset-md-2">
    <button (click)="toggleNav()" class="btn">X</button>
</div>
