<div class="head text-center" id="projects">
    <div class="col-md-8 offset-md-2">
        <h1>Projects</h1>
        <a href="#projects" class="down-arrow-btn"><i class="fa fa-chevron-down"></i></a>
    </div>
</div>

<!-- project slider -->
<div id="slider">
    <div class="col-10 container">
        <swiper-container slides-per-view="3" mousewheel-force-to-axis="true" class="mySwiper" >
            <!-- element -->
            <swiper-slide>
                <div class="img overlay-effect">
                    <img src="../../assets/project1.png" alt="project item">
                    <div class="overlay">
                        <a href="https://github.com/sahrajoy/handler_fit_website/tree/main" class="expand"><i
                                class="fa fa-search"></i><br>View More</a>
                    </div>
                </div>
            </swiper-slide>

            <!-- element -->
            <swiper-slide>
                <div class="img overlay-effect">
                    <img src="../../assets/project2.png" alt="project item">
                    <div class="overlay">
                        <a href="../../assets/projects/project2/index.php" class="expand"><i
                                class="fa fa-search"></i><br>View More</a>
                    </div>
                </div>
            </swiper-slide>

            <!-- element -->
            <swiper-slide>
                <div class="img overlay-effect">
                    <img src="../../assets/project3.png" alt="project item">
                    <div class="overlay">
                        <a href="../../assets/projects/project3/index.html" class="expand"><i
                                class="fa fa-search"></i><br>View More</a>
                    </div>
                </div>
            </swiper-slide>

            <!-- element -->
            <swiper-slide>
                <div class="img overlay-effect">
                    <img src="../../assets/project1.png" alt="project item">
                    <div class="overlay">
                        <a href="https://github.com/sahrajoy/handler_fit_website/tree/main" class="expand"><i
                                class="fa fa-search"></i><br>View More</a>
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>
</div>