<section class="text-center section-padding" id="contact">
    <a href="#home" class="up-btn"><i class="fa fa-chevron-up"></i></a>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1-arrow">Contact</h1>
            </div>
        </div>
        <div class="row contact-details">
            <div class="col-md-6">
                <div class="light-box">
                    <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>
                    <p>+43 676 356 86 93</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="light-box">
                    <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
                    <p><a href="mailto:sahra.stursa@live.at">sahra.stursa@live.at</a></p>
                </div>
            </div>
        </div>
    </div>
</section>