<section class="text-center section-padding" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-b">
                <h1 class="h1-arrow">Skills & Technologies</h1>
            </div>
            <!-- skill -->
            <div class="col-md-6 p-b" data-aos="fade-up" data-aos-duration="1500">
                <div class="icon"><i class="fa fa-laptop"></i></div>
                <h2>Desktop App Development</h2>
                <p>In the area of ​​desktop applications, I have knowledge of developing intuitive and efficient
                    software. My expertise lies in working with Java, JavaFX and relational databases such as
                    Apache Derby. I also gained valuable experience with tools such as Eclipse and Scene
                    Builder. My knowledge of these technologies is strengthened through targeted training and
                    practical application in various projects.</p>
            </div>
            <!-- skill -->
            <div class="col-md-6 p-b" data-aos="fade-up" data-aos-duration="1500">
                <div class="icon"><i class="fa fa-code"></i></div>
                <h2>Web App Development</h2>
                <p>I am adept at creating dynamic and responsive web applications. My skill set encompasses a
                    range of technologies, including JavaScript, TypeScript, PHP, Angular, and Bootstrap.
                    Additionally, I have experience with HTML, CSS, and SASS/SCSS, ensuring a robust and
                    aesthetically pleasing web application design. My proficiency with these technologies has
                    been honed through a comprehensive full-stack web developer course and hands-on projects.
                </p>
            </div>

        </div>
    </div>
</section>