<section class="text-center section-padding" id="skills">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-b">
                <h1 class="h1-arrow">Skills & Technologies</h1>
            </div>
            <!-- skill -->
            <div class="col-md-6 p-b" data-aos="fade-up" data-aos-duration="1500">
                <div class="icon"><i class="fa fa-laptop"></i></div>
                <h2>Software Development</h2>
                <p class="skills">In the area of software developing, I have knowledge of developing intuitive and efficient software. My expertise lies in working with Java, JavaFX and relational databases such as SQL, Apache Derby. I also gained valuable experience with tools such as Eclipse and Scene Builder. My knowledge of these technologies is strengthened through targeted training and practical application in various projects.</p>
            </div>
            <!-- skill -->
            <div class="col-md-6 p-b" data-aos="fade-up" data-aos-duration="1500">
                <div class="icon"><i class="fa fa-code"></i></div>
                <h2>Web App Development</h2>
                <p class="skills">I am adept at creating dynamic and responsive web applications. My skills span a range of technologies including HTML, JavaScript, TypeScript, Angular, Bootstrap, CSS and SASS/SCSS on the frontend and additionally I have experience with PHP and MySQL/SQL on the backend. I refined my knowledge of these technologies through a comprehensive full-stack web developer course and hands-on projects.
                </p>
            </div>
        </div>
    </div>
</section>