@import './assets/animate.scss';
@import './assets/variables';

html,
button,
input,
select,
textarea {
    font-family: 'Varela Round', sans-serif;
}

body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

a:active,
a:hover {
    outline: 0;
}

.fa {
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

// Global Styles
p {
    color: $grey-light;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
}

h2 {
    font-size: 15px;
    color: $grey-dark;
    text-transform: uppercase;
    font-weight: bold;
}

/* For mobile phones: */
@media only screen and (max-width: 500px) {
    h2 {
        font-size: 18px;
    }
}

h2::after {
    content: " ";
    border: solid 2px $green-light;
    display: block;
    width: 35px;
    margin: 25px auto;
}

.section-padding {
    padding: 50px 0 100px
}

.h1-arrow {
    font-size: 15px;
    text-transform: uppercase;
    color: $grey-dark;
    letter-spacing: 1px;
    background: url('./assets/h1-bg.png') no-repeat center bottom;
    padding-bottom: 30px;
    font-weight: bold;
}

/* For mobile phones: */
@media only screen and (max-width: 500px) {
    .h1-arrow {
        font-size: 20px;
    }
}