<section class="hero" id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h1 class="animated fadeInDown">SAHRA<span>STURSA</span></h1>
                <p class="animated fadeInUp delay-05s">
                    Junior Full-Stack Web-Developer and Desktop-Software Developer. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <a href="mailto:sahra.stursa@live.at" class="send-mail-btn">Send Email</a>
            </div>
        </div>
    </div>
</section>